mixin video(x)
    div
        h4
            a(href=`/videos/${x.id}`)=x.title
        ul 
            li #{x.rating}/5
            li #{x.comments} comments 
            li Posted #{x.createdAt}
            li #{x.views} #{x.views === 1 ? "view" : "views"}